<div class="mt-2">
    <div class="card w-100 shadow-sm">
        <div class="card-header d-flex justify-content-center" style="background-color: #19add8; color: white;">
            <span class="text-white fs-5 fw-bold">Clientes</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="d-flex mb-3">
                        <div class="flex-fill">
                            <div class="input-group">                    
                                <span class="input-group-text">Filtrar:</span>                                        
                                <input type="text" placeholder="Nome ou endereço" [(ngModel)]="term" (ngModelChange)="filterData()" class="form-control">                        
                            </div>                  
                        </div>
                    
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" (click)="exportPDF()"><i class="fa fa-file-pdf"></i> Exportar</a>
                </div>
            </div>
            
            <hr>
            
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>    
                        <th scope="col" style="text-align: right;"><button class="btn btn-outline-primary btn-sm" routerLink="/pessoas/detalhe"><i class="fa fa-circle-plus"></i></button></th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons" (click)="personDetail(person.id)">
                        <td>{{person.cpf | cpf}}</td>
                        <td>{{person.nome}}</td>
                        <td>{{person.endereco}}, {{person.numero}}, {{person.bairro}}, {{person.cidade}} - {{person.uf}} </td>   
                        <td style="text-align: right;"><button class="btn btn-outline-danger btn-sm" (click)="openModalDelete(modal, $event, person)"><i class="fa fa-trash-can"></i></button></td>                     
                    </tr>
                </tbody>    
            </table>

        </div>
        <div class="d-flex justify-content-center">
            <pagination [itemsPerPage]="pagination.pageSize" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChange($event)"></pagination>
        </div>
    </div>
</div>

<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Excluir</h4>
    </div>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja excluir {{pessoaAux.nome}}?</p>
        <button type="button" class="btn btn-warning" (click)="confirmDelete()" >Sim</button>
        <button type="button" class="btn btn-primary ms-1" (click)="declineDelete()" >Não</button>
      </div>
</ng-template>



